.mat-stepper-vertical {
  background-color: rgba(132, 92, 203, 0.2);
}
  
.mat-form-field {
  margin-top: 16px;
}

.mat-radio-group {
  display: flex;
  flex-flow: row wrap;
  .mat-radio-button {
    width: 45%;
    padding: 1rem;
  }
  justify-content: space-between;
}