<mat-vertical-stepper #stepper linear>
    <mat-step *ngFor="let group of this.form.controls; let i = index" [stepControl]="form.controls[i]"
        [editable]="false" [optional]="false">
        <mat-card>
            <form [formGroup]="form.controls[i]">
                <ng-template matStepLabel>Question {{i + 1}}</ng-template>
                <h2>Answer correctly and you can win {{gameService.getStakes()[i].guaranteed ? 'guaranteed' : null}}
                    {{i == 11 ? 'main pize of' : null}} {{gameService.getStakes()[i].amount}}!
                </h2>
                <h3 [innerHTML]="gameService.getQuestion(i) | async"></h3>
                <mat-radio-group formControlName="radio" aria-label="Select an option">
                    <mat-radio-button [value]="gameService.getAnswers(i, 0) | async">
                        <div [innerHTML]="gameService.getAnswers(i, 0) | async"></div>
                    </mat-radio-button>
                    <mat-radio-button [value]="gameService.getAnswers(i, 1) | async">
                        <div [innerHTML]="gameService.getAnswers(i, 1) | async"></div>
                    </mat-radio-button>
                    <mat-radio-button [value]="gameService.getAnswers(i, 2) | async">
                        <div [innerHTML]="gameService.getAnswers(i, 2) | async"></div>
                    </mat-radio-button>
                    <mat-radio-button [value]="gameService.getAnswers(i, 3) | async">
                        <div [innerHTML]="gameService.getAnswers(i, 3) | async"></div>
                    </mat-radio-button>
                </mat-radio-group>
                <div>
                    <button mat-raised-button [disabled]="this.form.controls[i].value.radio == ''" color="primary"
                        (click)="verification(i, stepper)">Next</button>
                </div>
            </form>
        </mat-card>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Win!</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="restartGame()">Restart Game</button>
        </div>
    </mat-step>
</mat-vertical-stepper>